<div class="container-fluid">
    <div class="card">

        <div class="wrapper row">
            <div class="preview col-md-6 my-auto ">
                <ngb-carousel>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img src="https://i.content4travel.com/cms/img/u/desktop/se/mleholi_0.jpg?version=191205-09?version=191205-09" alt="first slide">
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img src="https://i.content4travel.com/cms/img/u/desktop/se/mleholi_2.jpg?version=191205-09?version=191205-09" alt="second slide">
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img src="https://i.content4travel.com/cms/img/u/desktop/se/mleholi_6.jpg?version=191205-09?version=191205-09" alt="third slide">
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img src="https://i.content4travel.com/cms/img/u/desktop/se/mleholi_3.jpg?version=191205-09?version=191205-09" alt="fourth slide">
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img src="https://i.content4travel.com/cms/img/u/desktop/se/mleholi_5.jpg?version=191205-09?version=191205-09" alt="fifth slide">
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
            <div class="col-md-6 text-center">
                <div class="details col-md">
                    <h2 class="product-title text-center">{{tour?.name}}</h2>
                    <span class="text-center" style="font-weight: bold;">14 recenzji</span>
                </div>
                <p class="product-description mt-2" style="font-size: 18px;">{{tour?.description}}</p>
                <hr>
                <h4 class="price">Obecna cena: <span>{{tour?.price}} zł</span></h4>
                <p class="vote" style="font-size: 17px;"><strong>91%</strong> kupującym podobała się ta wycieczka!
                    <strong>(17 głosów)</strong></p>
                <hr>
                <h4 class="sizes">Miejsca:
                    <span class="size" data-toggle="tooltip" title="small">{{tour?.leftSeats}}</span>
                </h4>
                <button class="btn btn-dark" routerLink="/app/lista-wycieczek">Powrót</button>
            </div>
        </div>
    </div>
</div>
<!-- <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
</ngx-spinner> -->


<br><br>