<div class="container">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">

          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1"><img src="assets/malediwy.jpg" /></div>
            <div class="tab-pane" id="pic-2"><img src="assets/2.jpg" /></div>
            <div class="tab-pane" id="pic-3"><img src="assets/3.jpg" /></div>
            <div class="tab-pane" id="pic-4"><img src="assets/4.jpg" /></div>
            <div class="tab-pane" id="pic-5"><img src="assets/5.jpg" /></div>
          </div>
          <ul class="preview-thumbnail nav nav-tabs">
            <li>
              <a data-target="#pic-1" data-toggle="tab"><img src="assets/malediwy.jpg" /></a>
            </li>
            <li>
              <a data-target="#pic-2" data-toggle="tab"><img src="assets/2.jpg" /></a>
            </li>
            <li>
              <a data-target="#pic-3" data-toggle="tab"><img src="assets/3.jpg" /></a>
            </li>
            <li>
              <a data-target="#pic-4" data-toggle="tab"><img src="assets/4.jpg" /></a>
            </li>
            <li>
              <a data-target="#pic-5" data-toggle="tab"><img src="assets/5.jpg" /></a>
            </li>
          </ul>

          <div class="details col-md-6">
            <h3 class="product-title">{{tour.name}}</h3>
            <span class="review-no">14 recenzji</span>
          </div>
          <p class="product-description">{{tour.description}}</p>
          <h4 class="price">current price: <span>Cena</span></h4>
          <p class="vote"><strong>91%</strong> kupującym podobała się ta wycieczka! <strong>(17
              głosów)</strong></p>
          <h5 class="sizes">Miejsca:
            <span class="size" data-toggle="tooltip" title="small">Ilość miejsc</span>
          </h5>

          <div class="action">
            <button class="add-to-cart btn btn-default" type="button">Dodaj do koszyka</button>
            <button class="like btn btn-default" type="button" (click)="onCartAdded(product)"><span
                class="fa fa-heart"></span></button>
          </div>

        </div>
      </div>
    </div>
  </div>

  <br><br>
