<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#"><img class="img-responsive" src="https://www.pinclipart.com/picdir/middle/352-3523121_new-travel-peeps-travel-agency-logo-png-clipart.png"></a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav justify-content-xl-end mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Strona Główna <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="onDialogOpened()">Dodaj nową wycieczke</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="onFilterClicked()">Filter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="onCartClicked()">Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="onLoginClicked()">Zaloguj</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Wyszukiwarka">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
                    </form>
                </a>
            </li>
        </ul>
    </div>
</nav>