.img-responsive {
    max-height: 80px;
}

.nav-link {
    font-size: 20px;
}

.form-control {
    max-width: 150px;
}

.nav-item {
    justify-content: flex-end;
}

.clickable:hover {
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    #dropdownBasic1 {
        margin-left: 130px;
    }
}