<h4 class="text-center">
    Nowa wycieczka</h4>
<br>
<form [formGroup]="addTourForm" style="width: auto;">
    <div class="row">
        <div class="col-md-6">
            <label>Nazwa wycieczki: </label>
            <input id="name" type="text" class="form-control" formControlName="name">
        </div>
        <div class="col-md-6">
            <label>Kraj: </label>
            <input id="destination" type="text" class="form-control" formControlName="destinationCountry">
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6">
            <label>Data wylotu: </label>
            <input id="startDate" type="date" class="form-control" formControlName="startDate">
        </div>
        <div class="col-md-6">
            <label>Data powrotu: </label>
            <input id="finishDate" type="date" class="form-control" formControlName="finishDate">

        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6">
            <label>Cena wycieczki: </label>
            <input id="price" type="number" class="form-control" formControlName="price">
        </div>
        <div class="col-md-6">
            <label>Ilość miejsc: </label>
            <input id="maxSeats" type="number" class="form-control" formControlName="maxSeats">
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <div class="form-group">
                <label>Opis: </label>
                <textarea id="description" type="text" class="form-control" rows="4" formControlName="description"></textarea>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-sm-between">
        <button type="submit" class="btn btn-success" [disabled]="!addTourForm.valid" (click)="submitNewTour()">Potwierdź</button>
        <button type="close" class="btn btn-primary" (click)="closeDialog()">Zamknij</button>
    </div>
</form>