<div class="container">
    <div class="row align-items-center h-100">
        <div class="card border border-dark mx-auto col-md-6" style="height: auto; border-radius: 15px;">
            <div class="card-body">
                <h1 class="card-title mb-4">Rejestracja</h1>
                <div class="d-flex">
                    <form [formGroup]="registerForm" style="width: auto;">
                        <div class="col-md-7">
                            <div class="row">
                                <label>Nazwa użytkownika* </label>
                                <input #name type="text" class="form-control" formControlName="name">
                                <div *ngIf="name.invalid && name.touched" class="alert alert-danger">
                                    <div *ngIf="name.errors.maxLength">
                                        Maksymalnie 12 znaków
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label>Email* </label>
                                <input #email type="email" class="form-control" formControlName="email">
                                <div *ngIf="email.invalid && email.touched" class="alert alert-danger">
                                    <div *ngIf="email.errors.required">
                                        Podaj prawidłowy email
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label>Hasło* </label>
                                <input #password type="password" class="form-control" formControlName="password">
                                <div *ngIf="password.invalid && password.touched" class="alert alert-danger">
                                    <div *ngIf="password.errors.maxLength">
                                        Maksymalnie 10 znaków
                                    </div>
                                    <div *ngIf="password.errors.minLength">
                                        Minimalnie 6 znaków
                                    </div>
                                    <div *ngIf="password.errors.required">
                                        Stwórz hasło
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label>Potwierdź hasło* </label>
                                <input #confirmPassword type="password" class="form-control"
                                    formControlName="confirmPassword">
                                <div *ngIf="password.invalid && password.touched" class="alert alert-danger">
                                    <div *ngIf="password !== confirmPassword">
                                        Hasła nie są takie same
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="form-check form-check-inline">
                                    <input class="larger mr-3" type="checkbox" required name="terms"> *Zapoznałem się i
                                    akceptuje regulamin korzystania z Podróżuj z Krzychem
                                </div>
                                <button class="btn btn-group mt-2" routerLink="/app/regulamin">Czytaj więcej</button>

                            </div>

                            <div class="row mt-2">
                                <button class="btn btn-success" (click)="onRegistered()" routerLink="/logowanie">Zarejestruj</button>
                            </div>
                            <div class="row mt-3">
                                <p>Masz już konto?</p>
                            </div>
                            <div class="row mt-1">
                                <button class="btn btn-info" routerLink="/logowanie">Zaloguj</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>