.container {
    height: 100%;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1501785888041-af3ef285b470?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}

.card {
    opacity: 0.9;
}

.larger {
    height: 25px;
    width: 25px;
}