.card {
    max-width: auto;
    max-height: auto;
}

.row {
    -webkit-flex-direction: row;
    flex-direction: row;
}

@media screen and (max-width: 612px) {
    .img-fluid {
        max-width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .information {
        text-align: center;
    }
    .img-fluid {
        max-width: 100%;
        height: auto;
    }
    #rate {
        text-align: center;
        margin-bottom: 10px;
    }
    i {
        font-size: 18px;
    }
    #buttons {
        text-align: center;
    }
}

@media screen and (max-width: 1024px) {
    .card {
        width: 100%;
    }
    #rate {
        align-content: center;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    h4 {
        font-size: 20px;
    }
    i {
        font-size: 20px;
    }
}

.rating-list li {
    float: right;
    color: #ddd;
    padding: 8px 3px;
}

.rating-list li:hover,
.rating-list li:hover~li,
.rating-list li.selected {
    color: #ffd700;
}

.rating-list {
    display: inline-block;
    list-style: none;
}

i {
    font-size: 24px;
}

ul {
    margin: 0;
}

p {
    margin: 2px;
    font-size: 18px;
}