.card {
    max-width: auto;
    max-height: auto;
}


/* .container {
    padding: 0;
    margin: 0;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
} */

#info {
    margin: 20px 0px 20px 20px;
    max-width: 500px;
    justify-content: center;
}

.row {
    -webkit-flex-direction: row;
    flex-direction: row;
}

.img-responsive {
    max-width: 450px;
}