.card {
    max-width: auto;
    max-height: auto;
}


/* .container {
    padding: 0;
    margin: 0;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
} */

#info {
    max-width: 500px;
    justify-content: center;
}

.row {
    -webkit-flex-direction: row;
    flex-direction: row;
}

.img-responsive {
    max-width: 450px;
}

@media screen and (max-width: 768px) {
    .information {
        text-align: center;
    }
    img {
        margin-left: 30px;
        margin-top: 5px;
    }
    #rate {
        text-align: center;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1024px) {
    .card {
        width: 100%;
    }
    #rate {
        align-content: center;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    h4 {
        font-size: 20px;
    }
    star-rating {
        size: 24px;
    }
    .stars {
        size: 22px;
    }
    img {
        margin-top: 30px;
        margin-left: 5px;
    }
}