<div class="container-fluid">
  <mat-drawer-container autosize class="drawer-container">
    <mat-drawer #drawer class="sidenav" mode="side">
      <app-filter (filter)="onSearch($event)"></app-filter>
    </mat-drawer>

    <div class="sidenav-content">
      <button class="btn btn-dark mt-2" type="button" (click)="drawer.toggle()">
        Filtr
      </button>
    </div>
    <div class="col-xl">
      <app-tour [tour]="tour" *ngFor="let tour of tours | filter: searchTerm" (removeTour)="removeProduct(tour)">
      </app-tour>
    </div>
    <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
    </ngx-spinner>
  </mat-drawer-container>

</div>
