<div class="container">
    <div class="row align-items-center h-100">
        <div class="card border border-dark text-center mx-auto col-md-6" style="height: auto; width: 500px; border-radius: 15px;">
            <div class="card-body">
                <h1 class="card-title mb-4">Regulamin</h1>
                <div class="col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu tincidunt felis, eget laoreet quam. Ut in ligula nunc. Etiam nec ipsum sem. Aenean volutpat lobortis iaculis. Duis vulputate felis auctor congue semper. Vestibulum
                        congue venenatis eros, et facilisis justo tincidunt id. Aliquam id cursus velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed cursus sem. Aenean finibus vestibulum aliquam. Aenean convallis faucibus leo,
                        id ultrices massa tempus in. Fusce volutpat rhoncus lorem, sed pharetra mauris pharetra id. Suspendisse potenti. Phasellus luctus erat eu lectus aliquam, ac tincidunt risus tincidunt. Nulla magna nunc, mattis eget metus id, volutpat
                        lobortis est.</p>
                    <p>Duis ut neque id nisi semper ultrices eu ut ligula. Vivamus eget magna non quam placerat malesuada sit amet quis augue. Curabitur eget ultrices est. Cras in risus id erat volutpat efficitur quis eu nulla. Nullam eget molestie enim.
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam vel turpis suscipit, rhoncus mi eu, euismod massa. Pellentesque ac blandit elit, non consequat est.</p>
                </div>
                <div class="d-flex justify-content-sm-around">
                    <button class="btn btn-dark mt-4 mb-4" routerLink="/rejestracja">Powrót</button>
                </div>
            </div>
        </div>
    </div>
</div>