<div class="containter">
    <div class="card">
        <div class="card-header text-center">
            <h3>Panel administratora</h3>
        </div>
        <hr>
        <div class="card-body text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-dark" (click)="loadUsers()">Zarządzenie użytkownikami</button>
                <button type="button" class="btn btn-dark" (click)="loadTours()">Zarządzenie wycieczkami</button>
            </div>

            <div class="flex-row justify-content-center" *ngIf="userManagement">
                <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
                <div *ngIf="users">
                    <div>
                        <table class="fixed table table-striped col-xl-12 text-center">
                            <thead>
                                <tr>
                                    <th scope="col-md">id</th>
                                    <th scope="col-md">Name</th>
                                    <th scope="col-md">Email</th>
                                    <th scope="col-md">Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users">
                                    <th scope="row">{{user._id}}</th>
                                    <td>{{user.username}}</td>
                                    <td>{{user.email}}</td>
                                    <td>
                                        <div class="btn-group">
                                            <button class="btn btn-danger border-dark" (click)="removeUser(user)">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </button>

                                            <button class="btn btn-info border-dark"><i class="fa fa-edit"
                                                    aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="flex-row justify-content-center" *ngIf="tourManagement">
                <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
                <div *ngIf="tours">
                    <div>
                        <table class="fixed table table-striped col-xl-12 text-center">
                            <thead>
                                <tr>
                                    <th scope="col-md">id</th>
                                    <th scope="col-md">Name</th>
                                    <th scope="col-md">Destination</th>
                                    <th scope="col-md">Price</th>
                                    <th scope="col-md">Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let tour of tours">
                                    <th scope="row">{{tour.id}}</th>
                                    <td>{{tour.name}}</td>
                                    <td>{{tour.destinationCountry}}</td>
                                    <td>{{tour.price}} zł</td>
                                    <td>
                                        <div class="btn-group">
                                            <button class="btn btn-danger border-dark" (removeTour)="removeProduct(tour)"><i class="fa fa-trash"
                                                    aria-hidden="true"></i></button>
                                            <button class="btn btn-info border-dark"><i class="fa fa-edit"
                                                    aria-hidden="true"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>