<div class="containter">
    <div class="card">
        <div class="card-header text-center">
            <h3>Ustawienia konta</h3>
        </div>
        <hr>
        <div class="card-body text-center">
            <div class="flex-row justify-content-center">
                <ul>
                    <li>Rezerwacje</li>
                    <li>Program lojalnościowy</li>
                    <li>Moje opinie</li>
                    <li>Resetowanie hasła</li>
                    <li>Centrum Obsługi klienta</li>
                    <li>Ustawienia główne</li>
                </ul>
            </div>
        </div>
    </div>
</div>