<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Podsumowanie</h1>
    </div>
</section>
<div class="card text-center">
    <div class="card-header">
        <img class="img-fluid" src="assets/malediwy.jpg">
    </div>
    <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">Ilość osób : {{product.quantity}}</p>
        <p class="card-text">Do zapłaty : {{product.price * product.quantity}} zł</p>
    </div>
    <div class="card-footer text-muted">
        <button class="btn btn-light p-3" routerLink="/app/koszyk">Powrót</button>
        <button class="btn btn-light p-3">Do kasy</button>
    </div>
</div>
<br>