<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Podsumowanie</h1>
    </div>
</section>
<div class="container">
    <div class="card" style="width: 100%;">
        <div class="card-body d-flex">
            <div class="col-md-7">
                <img src="assets/malediwy.jpg">
            </div>
            <div class="col-md-5 d-flex justify-content-between">
                <div class="row">
                    <p>Wycieczka</p>
                    <p>hejago</p>
                </div>
                <div class="row">
                    <p>Ilość osób</p>
                    <p>hejago</p>
                </div>
                <div class="row">
                    <p>Do zapłaty</p>
                    <p>hejago</p>
                </div>
            </div>

        </div>
        <button class="btn btn-light p-3 border ml-4 mr-4" routerLink="/app/koszyk">Powrót</button>
        <button class="btn btn-light p-3 border ml-4 mr-4 mb-2">Do kasy</button>
    </div>
</div>
<br>