<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Podsumowanie</h1>
    </div>
</section>
<div class="card text-center">
    <div class="card-header">
        <img class="img-fluid" src="assets/malediwy.jpg">
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Wycieczka</th>
                    <th>Ilość osób</th>
                    <th>Do zapłaty</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{product.name}}</td>
                    <td>{{product.quantity}}</td>
                    <td>{{product.price * product.quantity}} zł</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="card-footer text-muted text-center">
    <button class="btn btn-light p-3" routerLink="/app/koszyk">Powrót</button>
    <button class="btn btn-light p-3" (click)="onReservationSubmit()" *ngIf="products.length > 0">Do kasy</button>
</div>
<br>